In [1]:
import pandas as pd
from numpy.random import choice
train = pd.read_csv(r'C:\Users\Программирование\Desktop\Spaceship Titanic\train.csv')

In [2]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [6]:
for column in train.columns:
    print(f'{column}\n{train[column].unique()}')

PassengerId
['0001_01' '0002_01' '0003_01' ... '9279_01' '9280_01' '9280_02']
HomePlanet
['Europa' 'Earth' 'Mars' nan]
CryoSleep
[False True nan]
Cabin
['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S']
Destination
['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e' nan]
Age
[39. 24. 58. 33. 16. 44. 26. 28. 35. 14. 34. 45. 32. 48. 31. 27.  0.  1.
 49. 29. 10.  7. 21. 62. 15. 43. 47.  2. 20. 23. 30. 17. 55.  4. 19. 56.
 nan 25. 38. 36. 22. 18. 42. 37. 13.  8. 40.  3. 54.  9.  6. 64. 67. 61.
 50. 41. 57. 11. 52. 51. 46. 60. 63. 59.  5. 79. 68. 74. 12. 53. 65. 71.
 75. 70. 76. 78. 73. 66. 69. 72. 77.]
VIP
[False True nan]
RoomService
[   0.  109.   43. ... 1569. 8586.  745.]
FoodCourt
[   0.    9. 3576. ... 3208. 6819. 4688.]
ShoppingMall
[   0.   25.  371. ... 1085.  510. 1872.]
Spa
[   0.  549. 6715. ... 2868. 1107. 1643.]
VRDeck
[   0.   44.   49. ... 1164.  971. 3235.]
Name
['Maham Ofracculy' 'Juanna Vines' 'Altark Susent' ... 'Fayey Connon'
 'Celeon Hontichre' 'Propsh Hontichre']
Transported
[False  True]

In [4]:
# Filling nulls:
train.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [5]:
filt = train['CryoSleep'] == True
print(train.loc[filt, 'RoomService':'VRDeck'])

      RoomService  FoodCourt  ShoppingMall  Spa  VRDeck
0             0.0        0.0           0.0  0.0     0.0
2             0.0        0.0           0.0  0.0     0.0
6             0.0        NaN           0.0  0.0     0.0
7             0.0        0.0           0.0  0.0     0.0
8             0.0        0.0           0.0  0.0     0.0
...           ...        ...           ...  ...     ...
4267          0.0        0.0           0.0  0.0     0.0
4269          0.0        0.0           0.0  0.0     0.0
4272          0.0        0.0           0.0  0.0     0.0
4274          0.0        0.0           0.0  0.0     0.0
4276          0.0        0.0           0.0  0.0     0.0

[1544 rows x 5 columns]

In [6]:
for column in train.loc[:, 'RoomService':'VRDeck'].columns:
    train[column].fillna(train.loc[:, 'RoomService':'VRDeck'].mean(axis=1), inplace=True)

In [7]:
train.insert(12, 'SpendedMoney', train.loc[:, 'RoomService':'VRDeck'].sum(axis=1))

In [8]:
train.loc[(train['CryoSleep'].isnull()) & (train['SpendedMoney'] == 0), 'CryoSleep'] = True
train.loc[(train['CryoSleep'].isnull()) & (train['SpendedMoney'] > 0), 'CryoSleep'] = False

In [9]:
train['Age'].fillna(train['Age'].mean().round(), inplace=True)

In [10]:
mean_VIP_SpendedMoney = train.loc[train['VIP'] == True, 'SpendedMoney'].mean()
train.loc[train['VIP'].isnull() & (train['SpendedMoney'] > mean_VIP_SpendedMoney), 'VIP'] = True
train.loc[train['VIP'].isnull() & (train['SpendedMoney'] <= mean_VIP_SpendedMoney), 'VIP'] = False

In [11]:
columns_to_fill_nulls = ['HomePlanet', 'Cabin', 'Destination']
for column in columns_to_fill_nulls:
    column_probabilities = [train[column].value_counts()[unique_value]/train[column].value_counts().sum()
                           for unique_value in train[column].value_counts().index]
    for i, cell in enumerate(train[column].isnull()):
        if cell:
            train.loc[i, column] = choice(train[column].value_counts().index, p=column_probabilities)

In [12]:
splitted_cabin = train['Cabin'].str.split('/')
splitted_cabin_df = pd.DataFrame.from_dict(dict(zip(splitted_cabin.index, splitted_cabin.values))).T
splitted_cabin_df.rename(columns= {0: 'Deck',
                                   1: 'Num',
                                   2: 'Side'}, inplace=True)

In [13]:
splitted_cabin_df
train_part1 = train.iloc[:, 0:4]
train_part2 = train.iloc[:, 4:]
train = pd.concat([train_part1, splitted_cabin_df, train_part2], axis=1)
train.drop(columns=['PassengerId',
                    'Cabin',
                    'Name'], inplace=True)

In [14]:
train.isnull().sum()

HomePlanet      0
CryoSleep       0
Deck            0
Num             0
Side            0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
SpendedMoney    0
dtype: int64

In [15]:
train.to_csv('filled_nans_train.csv', index=False)

In [16]:
# Mapping:
train = pd.read_csv('filled_nans_train.csv')
test = pd.read_csv('filled_nans_test.csv')
columns_to_map = ['HomePlanet', 'Deck', 'Side', 'Destination']
for column in columns_to_map:
    column_data = train[column]
    unique_values = column_data.unique()
    categories = {unique_values: i for i, unique_values in enumerate(unique_values)}
    train[column] = column_data.map(categories)
    test[column] = test[column].map(categories)
train.to_csv('handled_train.csv', index=False)
test.to_csv('handled_test.csv', index=False)